@media all and (min-width:1200px) {
    .search-trending-gifos {
        
        .fav-title{
            margin-bottom: 36px;
        }
        
        .stg-grid {
            
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(3, auto);
            grid-gap: 29px;

            .stg-container-img {
                width: 260px;
                height: 200px;
                img {
                    width: 260px;
                    height: 200px;
                }
            }

        }

        div[data-stgcont-btns='imgGridbtn']{
            min-height: 200px;
            height: 200px;
            position: relative;
            top: 200px;
            p{
                text-align: left;
            }
        }
    }
}